[tool.poetry]
name = "NetworkCommander"
version = "0.1.2a"
description = "cli scraping tools for network devices "
authors = ["Ido Don <76511079+Ido-Don@users.noreply.github.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
typer = { extras = ["all"], version = "^0.9.0" }
netmiko = "^4.3.0"
pykeepass = "^4.0.6"
pydantic = "^2.5.3"
inquirer = "^3.1.4"
textfsm = "^1.1.3"


[tool.poetry.scripts]
commander = "NetworkCommander.main:app"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
